body {
    line-height: 1.4;
    overflow-x: hidden;
}

.carousel-slides {
    margin-left: 300px;
    text-align: center;
    display: flex;
}

.all-carousel-slides {
    width: 640px;
    padding-right: 20px;
    padding-left: 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
}

.carousel-navigation {
    position: relative;
}

a:nth-child(1) {
    position: absolute;
    top: 250px;
    background-color: blue;
    left: 285px;
    z-index: 10;
}

a:nth-child(2) {
    position: absolute;
    top: 250px;
    background-color: blue;
    right: 270px;
    z-index: 10;
}

.right-rectangle {
    position: relative;
    top: -800px;
    left: 1000px;
    background-color: white;
    height: 800px;
    width: 300px;
    z-index: 5;
}

.left-rectangle {
    position: relative;
    top: -1500px;
    left: 0px;
    background-color: white;
    height: 800px;
    width: 300px;
    z-index: 5;
}

