/*body {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    display: flex;
}

header {
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
}

h1 {
    font-size: 16px;
}

.carousel-slides {
    width: 650px;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*.firstCover {
    position: absolute;
    background-color: white;
    height: 500px;
    width:550px;
    right: 1px;
}
*//*
.secondCover {
    position: absolute;
    background-color: white;
    height: 500px;
    width:500px;
    left: 1px; 
}
*//*
.carousel-navigation {
    position: absolute;
    background-color: transparent;
    height: 100px;
    width:100px;
    left: 200px;
    top: 175px;
}
/*
.rightArrow {
    position: absolute;
    background-color: white;
    height: 100px;
    width:100px;
    right: 200px;
    top: 175px;
}
*/
.carousel-slides {
    display: flex;
    margin-left: 315px;
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
}

h1 {
    text-align: center;
}

.carousel-navigation {
    position: absolute;
    margin-top: 200px;
}

a:nth-child(1) {
    margin-left: 275px;
    background-color: pink;
}

a:nth-child(2) {
    margin-left: 650px;
    background-color: purple;
}

