body {
    line-height: 1.4;
    overflow-x: hidden;
}

.carousel-slides {
    margin-left: 300px;
    text-align: center;
    display: flex;
}

.all-carousel-slides {
    width: 640px;
    padding-right: 20px;
    padding-left: 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
}

.carousel-navigation {
    position: relative;
}

a:nth-child(1) {
    position: absolute;
    top: 250px;
    background-color: blue;
    left: 285px;
    z-index: 10;
}

a:nth-child(2) {
    position: absolute;
    top: 250px;
    background-color: blue;
    right: 270px;
    z-index: 10;
}

/*.right-square {
    margin-left: 650px;
    background-color: black;
    height: 100px;
    width: 320px;
    z-index: 5;
}

.left-square {
    margin-left: 275px;
    background-color: black;
    height: 100px;
    width: 320px;
    z-index: 5;
}

